<div class="dropdown shadow-sm rounded">
  <button
    class="btn border-0 w-100 dropdown-toggle py-3 px-1"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Filter by Region
  </button>
  <ul class="dropdown-menu w-100 border-0 shadow-sm">
    <li><a class="dropdown-item" href="#">Africa</a></li>
    <li><a class="dropdown-item" href="#">America</a></li>
    <li><a class="dropdown-item" href="#">Asia</a></li>
    <li><a class="dropdown-item" href="#">Europe</a></li>
    <li><a class="dropdown-item" href="#">Oceania</a></li>
  </ul>
</div>
